@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400;500;600;700;800&display=swap');

:root {
    --lightBlue: #0085c7;
    --darkBlue: #00438c;
    color: white;
}

* {
    font-family: 'Wix Madefor Display', sans-serif;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(45deg, rgb(182, 202, 255), rgb(228, 237, 255));
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.arrow {
    margin: 5rem;
    height: 8vw;
    width: 70vw;
    position: relative;
    font-size: 45px;
    font-weight: 600;
}

div.tip {
    width: 0;
    height: 0;
    border-top: 5vw solid var(--darkBlue);
    border-right: 5vw solid var(--darkBlue);
    border-bottom: 5vw solid transparent;
    border-left: 5vw solid transparent;
    transform: rotate(45deg);
    position: absolute;
    right: -5vw;
    top: -1vw; 
    background-color: transparent;
}


.container>p {
    font-size: 20px;
    width: clamp(40ch, 80%, 70ch);
    text-align: justify;
    padding: 0;
    margin: 2rem auto;
}

.container {
    width: 70vw;
    background-color: var(--darkBlue);
    border-radius: 3rem;
    margin-bottom: 3rem;
}

p>a {
    color: var(--lightBlue);
    text-decoration: none;
    font-weight: 600;
}

p>a:active {
    color: var(--lightBlue); 
}

h2 {
    text-align: center;
    font-size: 35px;
}

.light>.tip {
    transform: rotate(-135deg);
    border-top: 5vw solid var(--lightBlue);
    border-right: 5vw solid var(--lightBlue);
    left: -5vw;
}

.light {
    background-color: var(--lightBlue);
    border-color: var(--lightBlue);
}

.dark {
    background-color: var(--darkBlue);
    border-color: var(--darkBlue);
}

.img-container {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 auto;
}

.img-container p {
    width: clamp(35ch, 75%, 70ch);
    font-size: 20px;
    text-align: justify;
    padding: 0;
    margin: 2rem 2rem 2rem 0;

}

img {
    height: 250px;
}