@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400;500;600;700;800&display=swap');

:root {
    --lightBlue: #0085c7;
    --darkBlue: #00438c;
    color: white;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Wix Madefor Display', sans-serif;
}

.background {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

#vid1 {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    min-width: 100%;
}

.arrow {
    width: 40vw;
    height: 20vh;
    background-color: #0085c7cc;
    position: absolute;
    top: 30vh;
    left: 30vw;
    transform: translate(-50%, -50%);
    opacity: 0;
    filter: blur(5px);
    transform: translateX(100%);
}

.second {
    background-color: #00438ccc;
    right: 30vw;
    top: 50vh;
    transform: translateX(-100%);
}

.right {
    width: 0;
    height: 0;
    border-top: 7vw solid #00438ccc;
    border-right: 7vw solid #00438ccc;
    border-bottom: 7vw solid transparent;
    border-left: 7vw solid transparent;
    transform: rotate(45deg);
    position: relative;
    right: -33vw;
    top: -2vw;
}

.left {
    width: 0;
    height: 0;
    border-top: 7vw solid #0085c7cc;
    border-left: 7vw solid #0085c7cc;
    border-bottom: 7vw solid transparent;
    border-right: 7vw solid transparent;
    transform: rotate(-45deg);
    position: relative;
    left: -6.9vw;
    top: -2vw;
}

h3 {
    position: absolute;
    top: 0.3rem; 
    left: -3rem;
    font-size: 6rem;
    font-weight: 600;
    overflow: visible;
    white-space: nowrap;
}

h3.b {
    left: 10rem;
}

.show {
    opacity: 1;
    transition: all 1.5s;
    filter: blur(0);
    transform: translateX(0);
}

.cover-container {
    width: 100vw;
    background-image: radial-gradient(#00f, rgb(0, 234, 255));
    z-index: 1;
    position: relative;
}

.cover {
    margin: 20vw;
    z-index: 2;
}

.overlay {
    position: absolute;
    z-index: 3;
    width: 100vw;
    height: 30vh;
    background-color: #888e;
    opacity: 0;
}

.overlay.show {
    opacity: 1;
    transition: all 1.5s;
}

.quote {
    text-align: justify;
    width: clamp(35ch, 80%, 70ch);
    color: white;
    font-weight: 600;
    line-height: 36px;
    font-size: 30px;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.awards {
    height: 120vh;
    width: 100vw;
    background-color: #333;
    flex-direction: row;
    gap: 3rem;
}

i.fa-award {
    color: goldenrod;
    font-size: 8rem;
    margin: 2rem;
}

.award {
    height: 60vh;
    width: 20vw;
    background-color: #555;
    border-radius: 2rem;
    box-shadow: 0 0 2rem black;
    flex-direction: column;
    transform: translateX(-100%);
    opacity: 0;
    filter: blur(5px);
}

.award.show {
    transition: all 1s;
    filter: blur(0);
    transform: translateX(0);
    opacity: 1;
}

.award:nth-of-type(2) {
    transition-delay: 200ms;
}

.award:nth-of-type(3) {
    transition-delay: 400ms;
}

h4 {
    font-size: 28px;
    margin: 1rem;
    margin-bottom: 0.5rem;
}

h5 {
    margin: 1rem;
    margin-top: 0;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
}