@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400;500;600;700;800&display=swap');

:root {
    --lightBlue: #0085c7;
    --darkBlue: #00438c;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Wix Madefor Display', sans-serif;
    color: white;
}

/* Darsteller CSS */

html {
    scroll-snap-type: y mandatory;
}

div.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    background-repeat: no-repeat;
    background-size: cover;
}

.container>.steckbrief {
    position: relative;
    width: 70%;
    height: 80%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows:  1fr 3fr 1fr 1fr;
    background-color: var(--lightBlue);
    border-radius: 3rem;
}

.steckbrief>img {
    /* align-self: center; */
    width: 80%;
    margin: auto;
    grid-area: 2 / 1 / 3 / 2;
}

.container:nth-child(2n)>.steckbrief {
    background-color: var(--darkBlue);
}

h3 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    grid-area: 1 / 1 / 2 / 3;
}

p {
    font-size: 1.2rem;
}

.steckbrief>p:first-of-type {
    width: clamp(35ch, 50%, 70ch);
    text-align: justify;
    grid-area: 2 / 2 / 3 / 3;
    margin: 0 auto;
}

p:nth-of-type(2) {
    grid-area: 3 / 1 / 4 / 3;
    margin: 1rem 3rem;
}

p:nth-of-type(3) {
    grid-area: 4 / 1 / 5 / 3;
    margin: 0.5rem 3rem;
}

p>span {
    font-weight: 600;
    text-decoration: underline;
}

.container:first-of-type {
    background-image: url("../images/pan-am.webp");
}

.container:nth-of-type(2) {
    background-image: url("../images/darsteller/office.jpg");
}

.container:nth-of-type(3) {
    background-image: url("../images/darsteller/diner.jpg");
}

.container:nth-of-type(4) {
    background-image: url("../images/darsteller/father.jpg");
}

.container:nth-of-type(5) {
    background-image: url("../images/darsteller/prostitute.jpg");
}

.container:nth-of-type(6) {
    background-image: url("../images/airport.jpg");
}

/* Quellen styles */

body.quellen { 
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1.h1 {
    grid-area: 1 / 1 / 2 / 2;
    font-size: 3rem;
    place-self: center;
    text-align: center;
    color: var(--darkBlue);
    padding: 1rem;
    border: 4px solid var(--darkBlue);
    border-radius: 0.5rem;
}

a {
    display: grid;
    place-content: center;
    color: var(--darkBlue);
    font-size: 24px;
    width: 80%;
    padding: 1rem;
    height: 10vh;
    margin: 1rem auto;
    font-weight: 500;
    border: 4px solid var(--darkBlue);
    text-align: center;
    border-radius: 1rem;
    line-break: anywhere;
    /* opacity: 0;
    transform: translateX(-100%);
    filter: blur(5px); */
}

a:nth-of-type(2n) {
    color: var(--lightBlue);
    border: 4px solid var(--lightBlue);
}

/* a.show {
    opacity: 1;
    transition: all 1s;
    filter: blur(0);
    transform: translateX(0);
} */